// Reset
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
fieldset,
label,
input,
textarea,
button,
blockquote,
cite,
code,
pre {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* Set box sizing to border-box globally */
* {
  box-sizing: border-box;
}


/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove hyperlink styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Set default styles for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

/* Set default styles for images */
img {
  max-width: 100%;
  height: auto;
}
